<div class="card fantasy-border text-center" *ngIf="player" >
    <div class="card-img-wrapper">
        <ng-container *ngIf="player.photoUrl">
            <img src="{{player.photoUrl}}" alt="" class="img-fluid"  /> <!--style="max-width: 100%; height: auto;"-->
        </ng-container>
        <ng-container *ngIf="!player.photoUrl">
            <img src="https://cdn.vectorstock.com/i/preview-1x/63/42/avatar-photo-placeholder-icon-design-vector-30916342.jpg" alt="" class="img-fluid"  /> <!--style="max-width: 100%; height: auto;"-->
        </ng-container>    </div>
    <ul class="list-inline member-icons animate text-center">
        <li class="list-inline-item">
            <button routerLink="/players/{{player.id}}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="View Player"><i class="fa fa-user"></i></button>
        </li>
        <li class="list-inline-item" *ngIf="isAdmin">
            <button (click)="deletePlayer(player.id)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Player"><i class="fa fa-trash"></i></button>
        </li>
    </ul>
    <div class="card-body p-1 text-center">
        <h6 class="card-title text-center mb-1">
            {{player.characterName}} 
        </h6>
        <b> {{player.race}} </b><br>
        <b>{{player.class}} <ng-container *ngIf="player.secondaryClass">/ {{player.secondaryClass}}</ng-container></b>
        <p class="card-text text-muted text-center">{{player.userName | titlecase}}</p>
    </div>
</div>