<div id="quest" class="row fantasy-border" *ngIf="quest" >

    <div class="row">
        <div class="col-md-8">
            <ng-container *ngIf="!quest.isCompleted">
                <h6>{{quest.name}}</h6>
                <p>{{quest.description}}</p>
            </ng-container>
            <ng-container *ngIf="quest.isCompleted">
                <h6 class="completed">{{quest.name}}</h6>
                <p class="completed">{{quest.description}}</p>
            </ng-container>
        </div>
        <div class="col-md-4" *ngIf="isAdmin">
            <button class="btn btn-primary" (click)="deleteQuest(quest.id)"><i class="fa fa-trash"></i> Delete Note</button>
            <button class="btn btn-primary" (click)="toggleQuestVisibility(quest.id)"><i class="fa fa-eye"></i> Make Visible</button>
        </div>
    </div>
</div>
