.completed{
    text-decoration:line-through !important;
}

.btn{
    z-index:1;
}


  
  /* Add some hover effects for interactive elements
  .fantasy-border:hover {
    transform: scale(1.05); /* Slight scale up on hover for a magical effect 
    transition: transform 0.3s ease;
  }
  
  /* Add some additional decorations, like a magic border, on the hover state 
  .fantasy-border:hover::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px dashed #FFD700; /* Gold dashed border 
    border-radius: 12px; /* Match the div's border radius 
  } */
  