
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
            <span>Name</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
            <span>Quests</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>Main Quests</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>Side Quests</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <span>Characters</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>My Character</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>PCs</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>NPCs</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>Vendors</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>Map</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><span>Sales</span></a
          >
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
