<div id="note" class="row fantasy-border" *ngIf="note" >
    <div class="">
        <div class="">           
            <h3>{{note.title}}</h3>
            <p>{{note.description}}</p> 
            <strong>{{note.sessionDate | date:'dd-MM-yyyy'}}</strong>           
        </div>
        <div class="" *ngIf="isAdmin">
            <ul class="list-inline member-icons animate text-center">
                <li class="list-inline-item">
                    <button (click)="editNote(note.id)" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit Note"><i class="fa fa-pencil"></i></button>  
                </li> 
                <li class="list-inline-item">
                    <button class="btn btn-danger" (click)="deleteNote(note.id)" data-toggle="tooltip" data-placement="top" title="Delete Note"><i class="fa fa-trash"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>
