<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" >Campaign Companion</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0 mobile-remove" >
          <ng-container *ngIf="accountService.currentUser$| async" >
            <!-- <li class="nav-item">
              <a class="nav-link"  routerLink="/members" routerLinkActive="active" >Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messaging</a>
            </li>           -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/campaign" routerLinkActive="active">Campaigns</a>
            </li>    
          </ng-container>      
        </ul>


        <div class="dropdown" *ngIf="(accountService.currentUser$| async) as user" dropdown>
            <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu fantasy-border" *dropdownMenu>
                <!-- <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a> -->
                <!--TODO: Edit Profile page-->
                <a class="dropdown-item" routerLink="/campaign">Campaigns</a>
                <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
        </div>


        
      
    </div>
  </nav>