#app-div{
    padding: 0px 100px; 
    margin-top: 100px; 
    
}



  @media only screen and (max-width: 800px) {
    #app-div{
        padding: 0px 50px; 
        margin-top: 100px;         
    }
  }
  /* @media only screen and (max-width: 800px) and (min-width:600px) {
    #app-div{
        padding: 0px 25px; 
        margin-top: 100px;         
    }
  } */
#backborder{
    background:  rgba(252, 242, 254, 0.801);;
    border: 2px black solid;
    border-radius: 25px;
    padding: 10px;
}