<div class="row" *ngIf="player">
    <div class="col-md-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="addPlayer()">
            <h4 class="mt-2">Character Sheet Link</h4>
            <p>Export you character from DnD Beyond, paste the character link into the below box. 
                You can get the character URL by opening up your character in DnD Beyond and then copy the URL link at the top of the screen. e.g. https://www.dndbeyond.com/characters/1234567
                Or you can go to edit character, and then click the "Whats Next" tab. Click Export PDF and then copy the pdf link from the box. e.g. www.dndbeyond.com/sheet-pdfs/user-10010010_1234567.pdf
            </p>
            <textarea class="form-control"
                [(ngModel)]="player.characterSheetLink"
                name="characterSheetLink"
                rows="1"
                ></textarea>

                <hr>
                <h1>OR</h1>
                <hr>
            <h4 class="mt-2">Character name</h4>
            <textarea class="form-control"
                [(ngModel)]="player.characterName"
                name="characterName"
                rows="1"
                ></textarea>

        </form>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success col-12" form="editForm">Save Changes</button>
    </div>
</div>