<div class="btn-back">
    <button class="btn-tab" routerLink="/campaign/{{campaignId}}">Back</button>
</div>
<div class="row" *ngIf="player">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="addPlayer()">
            <h4 class="mt-2">Character Sheet Link</h4>
            <p> Export you character from DnD Beyond, paste the character URL into the below box.</p>
            <p> You can get the character URL by opening up your character in DnD Beyond and then copy the URL link at
                the top of the screen. e.g. https://www.dndbeyond.com/characters/1234567 </p>
            <p> Or you can go to edit character, and then click the "Whats Next" tab. Click Export PDF and then copy the
                pdf link from the box. e.g. www.dndbeyond.com/sheet-pdfs/user-10010010_1234567.pdf </p>

            <textarea class="form-control" [(ngModel)]="player.characterSheetLink" name="characterSheetLink"
                rows="1"></textarea>

            <hr>
            <h1>OR</h1>
            <hr>
            <h4 class="mt-2">Character name</h4>
            <textarea class="form-control" [(ngModel)]="player.characterName" name="characterName" rows="1"></textarea>
            <h4 class="mt-2">Race</h4>
            <textarea class="form-control" [(ngModel)]="player.race" name="race" rows="1"></textarea>
            <h4 class="mt-2">Class</h4>
            <textarea class="form-control" [(ngModel)]="player.class" name="class" rows="1"></textarea>
            <h4 class="mt-2">Secondary Class</h4>
            <textarea class="form-control" [(ngModel)]="player.secondaryClass" name="secondaryClass"
                rows="1"></textarea>
            <h4 class="mt-2">Description</h4>
            <textarea class="form-control" [(ngModel)]="player.description" name="description" rows="3"></textarea>
            <h4 class="mt-2">Background</h4>
            <textarea class="form-control" [(ngModel)]="player.backgroundDescription" name="backgroundDescription"
                rows="3"></textarea>
            <div class="row">
                <div class="col-2">
                    <h4>Str</h4>
                    <input type="number" class="form-control" [(ngModel)]="player.strength" name="strength" />
                </div>
                <div class="col-2">
                    <h4>Dex</h4>
                    <input type="number" class="form-control" [(ngModel)]="player.dexterity" name="dexterity" />
                </div>
                <div class="col-2">
                    <h4>Con</h4>
                    <input type="number" class="form-control" [(ngModel)]="player.constitution" name="constitution" />
                </div>
                <div class="col-2">
                    <h4>Int</h4>
                    <input type="number" class="form-control" [(ngModel)]="player.intelligence" name="intelligence" />
                </div>
                <div class="col-2">
                    <h4>Wis</h4>
                    <input type="number" class="form-control" [(ngModel)]="player.wisdom" name="wisdom" />
                </div>
                <div class="col-2">
                    <h4>Cha</h4>
                    <input type="number" class="form-control" [(ngModel)]="player.charisma" name="charisma" />
                </div>
            </div>

        </form>
        <button type="submit" class="btn btn-success col-4" form="editForm">Save Changes</button>

    </div>
    <div class="col--md-2"></div>

</div>