<div class="btn-back">
<button class="btn-tab" routerLink="/campaign/{{campaignId}}">Back</button>
</div>
<div class="row" *ngIf="quest">
    <div class="col-md-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="addQuest()">
            <h4 class="mt-2">Quest Title</h4>
            <textarea class="form-control"
                [(ngModel)]="quest.name"
                name="name"
                rows="1"
                ></textarea>

            <h4 class="mt-2">Quest Description</h4>
            <textarea class="form-control"
                [(ngModel)]="quest.description"
                name="description"
                rows="1"
                ></textarea>


        </form>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success col-12" form="editForm">Save Changes</button>
    </div>
</div>