<div class="btn-back">
    <button class="btn-tab" routerLink="/campaign/{{local?.campaignId}}">Back</button>
</div>
<div class="row" *ngIf="local">
    <div class="col-md-4">
        <div class="card">
            <img src="{{local.image}}"
                alt=""
                class="img-thumbnail">
            <div class="card-body">
                <div>
                    <h2>{{local.name}}</h2>
                </div>
                <div>
                    <strong>Campaign Name:</strong>
                    <!-- <p>{{local.campaignName}}</p> -->
                </div>
                <div>
                    <!-- <strong>User:</strong>
                       <p>{{npc.userName}}</p> -->
                </div>
            </div>
            <div class="card-footer">
                <ng-container *ngIf="isAdmin">
                    <button routerLink="/location/edit/{{local.id}}" class="btn btn-primary" data-toggle="tooltip"
                        data-placement="top" title="Edit Location"><i class="fa fa-pencil"></i></button>
                    <ng-container *ngIf="!local.isVisible">
                        <button id="btn-local-vis-{{local.id}}" class="btn btn-warning"
                            (click)="toggleLocationVisibility(local.id)" data-toggle="tooltip" data-placement="top"
                            title="Make Location Invisible to Players"><i class="fa fa-eye-slash"></i></button>
                    </ng-container>
                    <ng-container *ngIf="local.isVisible">
                        <button id="btn-local-vis-{{local.id}}" class="btn btn-success"
                            (click)="toggleLocationVisibility(local.id)" data-toggle="tooltip" data-placement="top"
                            title="Make Location Visible to Players"><i class="fa fa-eye"></i></button>
                    </ng-container>
                    <button (click)="deleteLocation(local.id)" class="btn btn-danger" data-toggle="tooltip"
                        data-placement="top" title="Delete Location"><i class="fa fa-trash"></i></button>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">
                <h4>Town</h4>
                <p>{{local.town}}</p>
            </div>
        </div>
        <div>
            <h4>Description</h4>
            <p>{{local.description}}</p>
        </div>


    </div>
</div>