/*You can add global styles to this file, and also import other style files*/
.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #761319;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    /* background-color: #fff; */
    border: 0;
    /* border-top: 1px solid #eee; */
    padding: 15px 0;
  }

  body{
    background: url("assets/images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center; 
    background-attachment: fixed;
    color: black;
    
  }

  @media only screen and (max-width: 800px) {
    body{
      background: url("assets/images/background_min.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-x: center; 
      background-attachment: fixed;
      color: black;
      
    }
  }

  .scroll-background{
    background-image: url("assets/images/scroll-background.png") ;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position-x: center; 
    background-attachment: fixed;
    padding: 0% 0% ;


  }

  @media only screen and (max-width: 800px) {
    .scroll-background {
      background:  rgba(252, 242, 254, 0.801);
      border: 2px black solid;
      border-radius: 25px;
      padding: 10px;
    }
  }

  .card{
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    opacity: 100;
  }

  .member-tabset{
    background-color: rgba(255, 255, 255, 0.000);
  }

  table{
    background-color: rgba(0, 0, 0, 0);
  }

  .app-content{
    padding: 5% 25%;
    padding-bottom:20%;
    /* margin: auto; */
    background-image: linear-gradient(
      transparent 12%,
      currentColor 30%,
      currentColor 70%,
      transparent 85%
    );
    background-clip: text;
    -webkit-background-clip: text; 
    background-attachment: fixed;
}

/* button{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
} */

@media only screen and (max-width: 600px) {
  .app-content{
    padding: 20% 0%;
    padding-bottom:50% ;
    /* margin: auto; */
    background-image: linear-gradient(
      transparent 12%,
      currentColor 30%,
      currentColor 70%,
      transparent 85%
    );
    /* background-clip: text;
    -webkit-background-clip: text;  */
    background-attachment: fixed;
}
}

@media only screen and (max-width: 800px) and (min-width:600px) {
  .app-content{
    padding: 20% 5%;
    padding-bottom:50% ;
    /* margin: auto; */
    background-image: linear-gradient(
      transparent 12%,
      currentColor 30%,
      currentColor 70%,
      transparent 100%
    );
    /* background-clip: text;
    -webkit-background-clip: text;  */
    background-attachment: fixed;
}
}


.app-content > .app-content-fade{
  color: transparent;
  
  /* background-color: transparent; */
}
/* .mobile-remove{
  display: block; 
}*/

@media only screen and (max-width: 600px)  {
  .mobile-remove{
    display: none;

}
  .navbar-brand, .navbar{
    font-size:12px;
  }

  
} 

.btn-tab{
  background-color: rgba(0, 0, 0, 0);
  font: bold;
  border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(110, 13, 27, 0.5);
  padding: 10px;
  margin-bottom: 10px;
}

.btn-tab:hover{
  background-color: rgba(139, 27, 27, .5);
  
}

input[type=text],input[type=password], textarea.form-control{
  background-color: rgba(0, 0, 0, 0);
  font: bold;
  border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(110, 13, 27, 0.5);
  padding: 2px;
  margin-bottom: 5px;
}

#btn-about{
  background-color: rgba(110, 13, 27, 0.5);
}

/* Trying to change the background of input after click/ during typing */
input[type=text],input[type=password]::-moz-focus-inner{
  /* background-color: rgba(255, 255, 255, .5); */
}

#login-form{
  max-width: 300px;
}

.app-content > h3{
  color:transparent
  /* background-color: transparent; */
}

.fantasy-border {
  margin: 10px;
  margin-bottom: 20px;
  z-index: 0;
  border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(110, 13, 27, 0.5); /* A subtle magical glow */
  padding: 20px; /* Add some spacing inside the div */
  /* color: #FFD700; Gold text color */

  /* Fantasy-themed font */
  /*font-family: 'Cursive', 'fantasy';*/

}

@media only screen and (max-width: 800px) {
  .fantasy-border {
    margin: 0px;
    margin-bottom: 10px;
    z-index: 0;
     border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
    /* background-color: #280135; Deep violet background color */
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 0 10px rgba(110, 13, 27, 0.5); /* A subtle magical glow */
    padding: 20px 0px; /* Add some spacing inside the div */
    /* color: #FFD700; Gold text color */
  
    /* Fantasy-themed font */
    /*font-family: 'Cursive', 'fantasy';*/
  
  }
}

  
