  body{
    background: url("assets/images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center; 
    background-attachment: fixed;
    color: black;
    text-align: center;    
  }

  @media only screen and (max-width: 800px) {
    body{
      background: url("assets/images/background_min.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position-x: center; 
      background-attachment: fixed;
      color: black;      
    }
  }

  img {
    align-self: center !important;
    width:  80%;
    height: auto;
    object-fit: cover;
}

  .scroll-background{
    background-image: url("assets/images/scroll-background.png") ;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position-x: center; 
    background-attachment: fixed;
    padding: 0% 0% ;


  }

  @media only screen and (max-width: 800px) {
    .scroll-background {
      background:  rgba(252, 242, 254, 0.801);
      border: 2px black solid;
      border-radius: 25px;
      padding: 10px;
    }
  }

  .card{
    background-color: rgba(0, 0, 0, 0);
    color: #000;
    opacity: 100;
  }

  .member-tabset{
    background-color: rgba(255, 255, 255, 0.000);
  }

  table{
    background-color: rgba(0, 0, 0, 0);
  }

  .app-content{
    padding: 5% 25%;
    padding-bottom:20%;
    /* margin: auto; */
     background-image: linear-gradient(
      transparent 12%,
      currentColor 30%,
      currentColor 70%,
      transparent 85%
    );
    background-clip: text;
    -webkit-background-clip: text; 
    background-attachment: fixed; 
}

/* button{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
} */


@media only screen and (max-width: 600px) {
  .app-content{
    padding: 20% 0%;
    padding-bottom:50% ;
    /* margin: auto; */
     background-image: linear-gradient(
      transparent 12%,
      currentColor 30%,
      currentColor 70%,
      transparent 85%
    );
     background-clip: text;
    -webkit-background-clip: text;  
    background-attachment: fixed; 
}
}

@media only screen and (max-width: 800px) and (min-width:600px) {
  .app-content{
    padding: 20% 5%;
    padding-bottom:50% ;
    /* margin: auto; */
     background-image: linear-gradient(
      transparent 12%,
      currentColor 30%,
      currentColor 70%,
      transparent 100%
    );
   background-clip: text;
    -webkit-background-clip: text;  
    background-attachment: fixed; 
}
}


.app-content > .app-content-fade{
  color: transparent; 
  
  /* background-color: transparent; */
}

/* Turn the transparency off so the strikeout can be seen on completed quests */
span{
  color: rgba(0,0,0,.80);
}
/* .mobile-remove{
  display: block; 
}*/

@media only screen and (max-width: 600px)  {
  .mobile-remove{
    display: none;

}
  .navbar-brand, .navbar{
    font-size:12px;
  }

  
} 

.dropdown-menu{
  background: url("assets/images/canvas-background.jpg");
  background-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.dropdown-item{
  color: rgba(0, 0, 0, 1);
  transition-duration: 0.4s;
}

.dropdown-item:hover{
  background-color: rgba(139, 27, 27, 0.5);
  padding: 5px;
  border-radius: 25px;
  color: #fff;
}

.btn-tab{
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(110, 13, 27, 0.5);
  padding: 10px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

.btn-tab:hover{
  background-color: rgba(139, 27, 27, .5);
  
}

input[type=text],input[type=password],input[type=number], textarea.form-control{
  background-color: rgba(0, 0, 0, 0);
  font: bold;
  border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(110, 13, 27, 0.5);
  padding: 2px;
  margin-bottom: 5px;
}

input[type=number]{
  max-width: 50px;
}

#btn-about{
  background-color: rgba(110, 13, 27, 0.5);
}

.btn-back{
  text-align:left;
  
}
.btn-add{
  margin-right:5px;
  
}

#login-form{
  max-width: 300px;
}

.app-content > h3{
  color:transparent
  /* background-color: transparent; */
}

.fantasy-border {
  margin: 10px;
  margin-bottom: 20px;
  border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 0 10px rgba(110, 13, 27, 0.5); /* A subtle magical glow */
  padding: 20px; /* Add some spacing inside the div */
  /* color: #FFD700; Gold text color */

  /* Fantasy-themed font */
  /*font-family: 'Cursive', 'fantasy';*/

}

@media only screen and (max-width: 800px) {
  .fantasy-border {
    margin: 0px;
    margin-bottom: 10px;
     border: 2px solid rgb(110, 13, 27); /*Dark purple border color */
    /* background-color: #280135; Deep violet background color */
    border-radius: 10px; /* Rounded corners for a softer look */
    box-shadow: 0 0 10px rgba(110, 13, 27, 0.5); /* A subtle magical glow */
    padding: 20px 0px; /* Add some spacing inside the div */
    /* color: #FFD700; Gold text color */
  
    /* Fantasy-themed font */
    /*font-family: 'Cursive', 'fantasy';*/
  
  }

  img{
    max-width: 80%;
    max-height: auto;
  }

  .player-form-div{
    max-width: 80%;
  }

  .carousel{
    align-self: center;
    align-content: center;
  }
  
/* Use Black buttons for Carousel */
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
}

  
