<div class="row" *ngIf="campaign">
    <div class="col-4">
        <div class="card">
            <!-- <img src="{{campaign.photoUrl || './assets/user.png'}}" alt="{{campaign.knownAs}}" class="card-img-top img-thumbnail"> -->
            <div class="card-body">
                <div>
                    <h2>{{campaign.name}}</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <strong>Campaign Id:</strong>
                        <p>{{campaign.id}}</p>
                    </div>
                    <div class="col-lg-6">
                        <strong>DM:</strong>
                        <p>{{campaign.adminUser}}</p>
                    </div>
                </div>
                <div>
                    <strong>Campaign Started:</strong>
                    <p>{{campaign.createDate}}</p>
                </div>

            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About">                
                <h3>Description</h3>
                <p>{{campaign.description}}</p>
                <div class="row">
                    <h3 class="col-md-9">Session Notes</h3>
                    <div class="col-md-3" *ngIf="isAdmin">
                        <button class="btn btn-success col-md-9" routerLink="/notes/add/{{campaign.id}}"><i class="fa fa-plus"></i>Add New Note</button>
                    </div>
                </div>
                <div *ngFor="let note of notes">
                    <app-note-card [note]="note" [isAdmin] ="isAdmin"></app-note-card>
                </div>
                
            </tab>
            <tab heading="Quests">
                <div class="row">
                    <div class="row">
                        <h3 class="col-md-9">Main Quests</h3>
                        <div class="col-md-3" *ngIf="isAdmin">
                        <button class="btn btn-success col-md-9" routerLink="/quests/add/{{campaign.id}}"><i class="fa fa-plus"></i>Add New Quest</button>
                        </div>
                    </div>
                    <div *ngFor="let quest of mainQuests">
                        <app-campaign-quest [quest]="quest" [isAdmin] ="isAdmin"></app-campaign-quest>
                    </div>

                    <h3>Side Quests</h3>
                    <div style="margin-top: 20px;" *ngFor="let quest of sideQuests">
                        <app-campaign-quest [quest]="quest" [isAdmin] ="isAdmin" ></app-campaign-quest>
                    </div>    
                </div> 
            </tab>
            <tab heading="Players">
                <div class="row" id="player-div">
                    <div class="row">
                        <h4 class="col-md-9">Player Characters</h4>
                        <button class="btn btn-success col-md-3" routerLink="/players/add/{{campaign.id}}"><i class="fa fa-plus"></i>Add New PC</button>
                    </div>
                    <div class="col-4" style="margin-top: 20px;" *ngFor="let player of players">
                        <app-campaign-players [player]="player" [isAdmin] ="isAdmin"></app-campaign-players>
                    </div>      
                </div>         
            </tab>
            <tab heading="NPCs">
                <div class="row">
                    <div class="row">
                        <h3 class="col-md-9">NPCs</h3>
                        <div class="col-md-3" *ngIf="isAdmin">
                            <button class="btn btn-success" routerLink="/npc/add/{{campaign.id}}"><i class="fa fa-plus"></i>Add New NPC</button>
                        </div>
                    </div>
                    <div class="col-4" style="margin-top: 20px;" *ngFor="let npc of npcs">
                        <app-npc-card  [npc]="npc"></app-npc-card>
                    </div>   
                </div>
            </tab>
        </tabset>
    </div>
</div>